.navbar-icono{
	
	float: left;
  	padding: @nav-link-padding;
  	font-size: @font-size-large;
  	line-height: @line-height-computed;
  	height: @navbar-height;
}

.navbar-brand{
	padding: 16.33px 30px;
}

.paddingcontainer{ 
	padding-top:200px;
 }

 .jumbotron .container .col-md-9{

 }

 .col-sm-4 img{
 	max-witdh: 100%;
 }

 img.thumb{
 	width: 100%;
 	height: auto;
 }

