
.btn-round{
	display: table-cell;
	.size(120px, 120px);
	vertical-align: middle;
	border-radius: 50%;
	box-shadow: 2px 2px 0 fade(@black, 20);
}
.navbar-icono{
	
	float: left;
  	padding: @nav-link-padding;
  	font-size: @font-size-large;
  	line-height: @line-height-computed;
  	height: @navbar-height;
}

.paddingcontainer{ padding-top:200px;
 }
