.navbar-icono{
	
	float: left;
  	padding: @nav-link-padding;
  	font-size: @font-size-large;
  	line-height: @line-height-computed;
  	height: @navbar-height;
}

.navbar-brand{
	padding: 18.33px 30px;
	img{
		max-width: 50px;
	}
}


.entry-header{

	aside{
		color: @gray-light;
		ul{
			margin: @line-height-computed*.75 0;
			padding: 0;
			font-size: 12px;
			li{
				display: inline;
				margin-left: 20px;
				&:first-child{margin-left: 0}
			}
		}
	}
}

.nav li a:hover{
	color:#f49f5c	
}
.navbar{
	color:#f49f5c
}
.paddingcontainer{ 
	padding-top:200px;
 }

 .col-sm-4 img{
 	max-width: 100%;
 }

.logo{
	margin-bottom: 80px;
}

.encabezado{
	font-weight: 400;
	margin-bottom: 18px;
	padding-left: 15px;
	margin-top: 20px;
}


.push-footer{
	margin-bottom: @footer-height;
}

footer{
	position: relative;
	background-color: @semi-black;
	margin-top: 100px;
	height: @footer-height;
	color: #FFFFFF;
	bottom: 0;
	width: 100%;
	text-align: center;

	.container{
		bottom: 50px;

	}
}

.row{
	margin-top: 60px;
}

footer img{
	width: 25px;
	height: 25px;
}

.margin-top-fix{
	margin-top: @navbar-height + 3*@line-height-computed;
}

.alinearderecha{
	float:right;
}

.btn-group {
	margin-top:-45px
}
.pagination{
	margin:0 auto;
}

.topp{
	margin-top: 20px;
}

.col-md-6 a{
	text-decoration:none;
}


.col-md-6 a:hover{
	color:@naranjo;
}

.background-croquis{
	background-image: url(../img/croquis6.png);
	background-repeat: no-repeat;
	background-position: center left;
	background-color: #FDFDFD;
}


.background-croquis{
	background-image: url("@{img-path}croquis6.png");
	background-repeat: no-repeat;
	background-position: center left;
	background-color: #FDFDFD;
	
}
//NO PONER NADA AQUÍ QUE NO SEA DE ESTA RESOLUCIÓN

@media (max-width: @screen-xs){
	.margin-top-fix{margin-top: 100px;}
	.logo{
	margin-left: auto;
	}

	footer{
	text-align: center;
	background-color: #353535;
	height: 200px;
	margin-top: 100px;
	color: #FFFFFF;
	bottom: 0;
	font-size: 10px;
	}

	.jumbotron .container{

		padding-bottom: 30px;
		padding-top: 90px;

	}

	.navbar-brand{
	padding: 10px 30px;

}
}

//TELÉFONO HORIZONTAL

@media (max-width: @screen-sm){
	.margin-top-fix{margin-top: @navbar-height;}
	.logo{
	margin-left: auto;
	}

	footer{
	text-align: center;
	background-color: #353535;
	height: 200px;
	margin-top: 200px;
	color: #FFFFFF;
	bottom: 0;
	font-size: 10px;
	}

	.jumbotron .container{

		padding-bottom: 30px;
		padding-top: 90px;

	}

	.navbar-brand{
	padding: 10px 30px;

}
}


