.caption h5:hover:after, h4:hover:after, aside:hover:after, p:hover:after{
	width: @padding-small-vertical*38;
	font-size: @font-size-base;
	content: attr(data-popup);
	position: absolute;
	top:2em;
	padding: 0.3em;
	margin-left: 1em;
  	z-index:2;
  	border-radius: 3px;
  	background-color:@gray; 
  	color:#fff;
}

.encabezado h3:hover:after{
	content: attr(data-popup);
	position: absolute;
	top:2em;
	padding: 0.3em;
	margin-left: 1em;
  	z-index:2;
  	border-radius: 3px;
  	background-color: @gray; 
  	color:#fff;
}

.col-md-3{
	
	border: solid 2px @gray;

}